body {
	padding-top: 20px;
}

::-webkit-input-placeholder {
   color: #cccccc !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cccccc !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cccccc !important;
}

:-ms-input-placeholder {
   color: #cccccc !important;
}
